.index-edit-container {
	padding-left: 40px;
}
.slide-title {
	margin-bottom: 30px;
	border-bottom: #d9d9de solid 1px;
	line-height: 40px;
}
.add-list-main {
	overflow: hidden;
}
.add-img-list {
	width: 500px;
	position: relative;
	margin-bottom: 10px;
}
.add-img-list .add-image-button {
	width: 500px;
	height: 250px;
	text-align: center;
	line-height: 250px;
	border: 1px solid #808080;
	cursor: pointer;
}
.add-img-list .add-image-url {
	width: 500px;
	height: 250px;
	display:none;
}
.add-img-list .add-image-edit {
	width: 160px;
	height: 160px;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -80px;
	display: none;
	cursor: pointer;
}
.add-img-list .add-image-edit  img {
	width: 160px;
	height: 160px;
}
.add-img-list .add-image-url img{
	width: 500px;
	height: 250px;
}
.add-img-list .add-img-file {
	display: none;
}
.add-img-list .add-img-submit {
	display: none;
}
.add-img-link p {
	margin-top: 10px;
	margin-bottom: 5px;
}
.add-img-link input {
	width: 100%;
}
.add-img-btn {
	margin-top: 10px;
}

.add-font-list {
	width: 200px;
	float: left;
	position: relative;
	margin-right: 30px;
}
.digest-wrapper {
	position: relative;
	height: 125px;
}
.add-font-list p {
	margin-top: 10px;
	margin-bottom: 5px;
}
.add-font-list input {
	width: 100%;
}
.add-font-list textarea {
	width: 100%;
	height: 125px;
}
.wordwrap {
	position: absolute;
    right: 3px;
    bottom: 2px;
}
.search-button {
	width: 80px;
  	height: 30px;
  	text-align: center;
  	line-height: 30px;
  	color: #fff;
  	background: #000797;
  	border: none;
  	float: left;
  	margin-top: 30px;
  	margin-right: 30px;
}
.video-img-content {
    width: 640px;
    height: 461px;
    margin-bottom: 30px;
}



